<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQL INJECTION DEMO</title>
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<body>
<a href="/">Home</a>
<form method="POST" action="/sql-injection">
    <textarea cols="50" rows="10" name="param">{{ param | default("1 AND 1=1 UNION SELECT * FROM user") }}</textarea>
    <input type="checkbox" name="fix" {% if fix %} checked{% endif %}> Fix SQL INJECTION
    <input type="submit" value="SUBMIT">
</form>
<table>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>