<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XSS DEMO</title>
</head>
<body>
<a href="/">Home</a>
{% if fix %}
    <p>Yor search result: {{ query }}</p>
{% else %}
    <p>Yor search result: {{ query | safe }}</p>
{% endif %}
<form method="POST" action="/xss">
    <textarea name="s" cols="50" rows="10"><script>alert('XSS')</script></textarea>
    <input type="checkbox" name="fix" {% if fix %} checked{% endif %}> Fix XSS
    <input type="submit" value="SUBMIT">
</form>
</body>
</html>